.title{
    background-color: #239b73;
    font-size: xx-large;
    font-weight: 500;
    color: white;
    padding-left: 4%;
}
.sub-title{
    font-size: x-small;
    padding-right: 3%;
    margin-top: 2%;
}